.mymetadata
.checkstyle
.classpath
.project
.class
.war
.zip
.rar
.idea
*.iml
*.project
.settings/*
.vscode/*
/target/*
/target/
/target
/bin
log/*
log
/log
logs/*
logs
/logs
.DS_Store
dependency-reduced-pom.xml

